.main-box {
  @include box();
  height: 100vh;

  h1 {
    color: $MainColor;
    font-family: $EngMain;
    font-size: 50px;

    margin-bottom: 10px;
  }

  h2 {
    font-family: $EngSub;
    color: $MainColor;
  }
}

.sub-box {
  @include box();
  height: 100vh;
  h2 {
    @include title();

    margin-bottom: 20px;
  }

  .outline {
    margin-bottom: 100px;

    p {
      @include text();
    }
  }

  .license {
    @include box();

    h3 {
      @include title();
      font-size: 20px;

      margin-bottom: 12px;
    }

    p {
      @include text();
    }
  }
}
