/* font-family */
$EngMain: "Rock Salt", cursive;
$EngSub: "Righteous", cursive;

$KorMain: "MaruBuri-Regular";
$KorSub: "Pretendard-Regular";

/* font-color */
$MainColor: #f8f7ef;
$SubTitleColor: rgb(250, 240, 220);
