@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rock+Salt&display=swap');

/* font-family */
$EngMain: 'Rock Salt', cursive;
$EngSub: 'Righteous', cursive;

/* font-color */
$MainColor: #F8F7EF;